.col-kitty {
  background-image: url("../assets/images/kitten-medium.png");
  background-repeat: round;
  background-size: cover;
  height: 55vh;
  margin-top: 45vh;
}

.photo-background {
  background-image: url("../assets/images/sunny-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
