@media screen and (max-width: 768px) {
  .col-kitty {
    background-image: url("../assets/images/kitten-small.png");
    height: 30vh;
    margin-top: 27vh;
  }

  .photo-background {
    background-image: url("../assets/images/night.jpg");
    height: 56vh;
  }
}

@media screen and (max-width: 480px) {
  .col-kitty {
    background-image: url("../assets/images/kitten-large.png");
    height: 29vh;
    margin-top: 23vh;
  }

  .photo-background {
    background-image: url("../assets/images/dawn.png");
    height: 50vh;
  }
}
